doctype html 
html 
    head    
        style 
            include ../static/style.css 
    body 
        
        section#introsection
            nav#navbar
                div#logo
                ul  
                    div#navi
                     li #[a(href = "/") HOME]
                     li #[a(href = "/") ABOUT]
                     li #[a(href = "/") SERVICES]
                     li #[a(href = "/") CLASSES]
                     li #[a(href = "/") CONTACT US]

                div#join
                    | Join Now
            div#main 
                | SUPER DANCE ACADEMY
            div#submain 
                | The Best Academy
        section#sponsorsection
            div#sponsormain
                | section for sponsor
        footer#footer 
            | our footer here



        script 
            include ../static/script.js          