@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* NAVBAR */

#logo{
    background: center/cover no-repeat url("logo.jpg");
    height: 50px;
    width: 150px;
    margin-right: 280px;
}
#navbar{
    display: flex;
    position: fixed;
    padding: 8px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.486);
    width: 100%;
}

#navi{
    display: flex;
    margin-top: 10px;
}

#navbar ul{
    
    display: flex;
    
}

#navbar li{
    list-style: none;
    padding: 5px 30px;
}

#navbar li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#navbar li a:hover{
    text-decoration: none;
    color: rgb(255, 215, 0);
    font-size: 17px;
}

#join{
    margin-top: 10px;
    margin-left: 250px;
    border: 1px solid gold;
    padding: 10px;
}

/* INTRO SECTION */
#introsection{
    
    font-family: 'Montserrat', sans-serif;
    background: center/cover no-repeat url("bg.jpg");
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    
    
    background-color: red;
    height: 500px;
}

#main{
    color: gold;
    margin-top: 115px;
    padding-left: 250px;
    padding-top: 100px;
}

#submain{
    padding-left: 250px;
    font-size: 25px;
}

/* SPONSOR SECTION */
#sponsorsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.342);
    height: 500px; 
}

/* #sponsormain{
    
    
} */

/* FOOTER  */
#footer{
    background-color:rgba(0, 0, 0, 0.575);
    height: 30px;
    
}